<!DOCTYPE html>
<html lang="{{app.user.lang}}">
    <head>
	<meta charset="utf-8">
	<meta name="generator" content="Phyxo, see https://www.phyxo.net/">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="{{asset('imgs/favicon.ico')}}" type="image/x-icon">
	<link rel="icon" href="{{asset('imgs/favicon.png')}}" type="image/png">
	<link rel="icon" sizes="32x32" href="{{asset('imgs/favicon-32.png')}}" type="image/png">
	<link rel="icon" sizes="64x64" href="{{asset('imgs/favicon-64.png')}}" type="image/png">
	<link rel="icon" sizes="96x96" href="{{asset('imgs/favicon-96.png')}}" type="image/png">
	<title>
	    {% block title %}Phyxo{% endblock %}
	</title>
	<link rel="start" title="{{'Home'|trans}}" href="{{path('homepage')}}" >
	<link rel="search" title="{{'Search'|trans}}" href="{{path('search')}}">
	{% if first.U_IMG is defined %}
	    <link rel="first" title="{{'First'|trans}}" href="{{first.U_IMG}}">
	{% endif %}
	{% if previous.U_IMG is defined %}
	    <link rel="prev" title="{{'Previous'|trans}}" href="{{previous.U_IMG}}">
	{% endif %}
	{% if next.U_IMG is defined %}
	    <link rel="next" title="{{'Next'|trans}}" href="{{next.U_IMG}}">
	{% endif %}
	{% if last.U_IMG is defined %}
	    <link rel="last" title="{{'Last'|trans}}" href="{{last.U_IMG}}">
	{% endif %}
	{% if U_UP is defined %}
	    <link rel="up" title="{{'Thumbnails'|trans}}" href="{{U_UP}}">
	{% endif %}
	{% block html_head %}{% endblock %}
	{% block stylesheets %}
	    <link rel="stylesheet" href="{{asset('theme.css')}}">
	{% endblock %}
    </head>
    <body>
	<div id="wrapper">
	    {% if blocks is defined %}
		<nav class="navbar navbar-expand-lg navbar-main {{theme_config.navbar_main_bg}} {% if theme_config.page_header == 'fancy' %}navbar-dark navbar-transparent fixed-top{% else %}{{theme_config.navbar_main_style}}{% endif %}">
		    <div class="container{% if theme_config.fluid_width %}-fluid{% endif %}">
			{% if theme_config.logo_image_enabled %}
			    <a class="navbar-brand mr-auto" href="{{path('homepage')}}"><img class="img-fluid" src="{{asset(theme_config.logo_image_path)}}" alt="{{GALLERY_TITLE}}"/></a>
			{% else %}
			    <a class="navbar-brand mr-auto" href="{{path('homepage')}}">{{GALLERY_TITLE}}</a>
			{% endif %}
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-menubar" aria-controls="navbar-menubar" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="fa fa-bars"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar-menubar">
			    {% if theme_config.quicksearch_navbar %}
				<form class="form-inline navbar-form ml-auto" role="search" action="{{path('qsearch')}}" method="get" id="quicksearch" onsubmit="return this.q.value!='' && this.q.value!=qsearch_prompt;">
				    <i class="fa fa-search" title="{{'Search'|trans}}" aria-hidden="true"></i>
				    <div class="form-group">
					<input type="text" name="q" id="qsearchInput" class="form-control" placeholder="{{'Search'|trans}}"/>
				    </div>
				</form>
			    {% endif %}
			        {% block menubar %}
				        {{include('_menubar.html.twig')}}
			        {% endblock %}
			      </div>
		      </div>
		    </nav>
	    {% endif %}

	    {% block content %}{% endblock %}

	    <div class="copyright container">
		    <div class="text-center">
		      {{'Powered by'|trans}}&nbsp;<a href="{{PHYXO_URL}}">Phyxo</a>&nbsp;{{PHYXO_VERSION}}
		    </div>
	    </div>
	    {% block html_footer %}{% endblock %}
	    {% block javascripts %}
		    <script src="{{asset('theme.js')}}"></script>
		    <script>
		      var phyxo_root_url = "{{app.request.basepath}}/";
		    </script>
	    {% endblock %}
	  </div>
  </body>
</html>
