{% import '_macro.html.twig' as macro %}

<div
  class="row">
  {# this might sound ridiculous, but we want to fit the thumbnails to 90% of col-xs-12 without them being too blurry #}
  {% set album_derivative_params = define_derivative({width: 520, height: 360, crop: true}) %}
  {% set album_derivative_params_square = define_derivative_square() %}

  {% if album_thumbnails is defined %}
      {% for album in album_thumbnails %}
      {% if theme_config.category_wells == 'never' %}
        {% set album_derivative = derivative_from_image(image: album.representative.image, params: album_derivative_params) %}

        {# this needs a fixed size else it messes up the grid on tablets #}
        <div class="col-outer mt-3 {% if album_view == 'list' %}col-12{%  else %}{{macro.col_class(260, 180, theme_config)|trim}}{% endif %}" data-grid-classes="{{macro.col_class(260, 180, theme_config)|trim}}">
          <div class="card card-thumbnail" data-id="{{album.id}}">
            <div class="h-100">
              <a href="{{album.URL}}" class="ripple{% if album_view != 'list' %} d-block{% endif %}">
                <img class="{% if album_view == 'list' %}card-img-left{% else %}card-img-top{% endif %}" src="{{ media_path(album_derivative) }}" alt="{{album.TN_ALT}}" title="{{album.name}} - {{'display this album'|trans}}">
              </a>
              <div class="card-body">
                <h5 class="card-title ellipsis {% if not album.icon_ts is empty %} recent{% endif %}">
                  <a data-testid="album-name" href="{{album.URL}}">{{album.name}}</a>
                  {% if not album.icon_ts is empty %}
                    <i class="fa fa-exclamation"></i>
                  {% endif %}
                </h5>
                <div class="card-text">
                  {% if album.comment is defined %}
                    <div data-testid="album-description" class="description {% if theme_config.cat_descriptions %} d-block{% endif %}">{{album.comment}}</div>
                  {% endif %}
                </div>
              </div>
              {% if theme_config.cat_nb_images %}
                <div class="card-footer text-muted">
                  <div data-testid="album-nb-images" class="d-inline-block ellipsis">{{album.CAPTION_NB_IMAGES|replace({'<br>':', '})}}</div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% else %}
        {% set album_derivative_square = derivative_from_image(image: album.representative.image, params: album_derivative_params_square) %}
        <div class="col-outer col-12">
          <div class="card">
            <div class="card-body p-0">
              <a href="{{album.URL}}">
                <div class="media h-100">
                  <img class="d-flex mr-3" src="{{ media_path(album_derivative_square) }}" alt="{{album.TN_ALT}}">
                  <div class="media-body pt-2">
                      <h4 data-testid="album-name" class="mt-0 mb-1">{{album.name}}</h4>
                    {% if album.comment is defined %}
                      <div data-testid="album-description" class="description">{{album.comment}}</div>
                    {% endif %}
                    {% if theme_config.cat_nb_images %}
                      <div data-testid="album-nb-images" class="text-muted">{{album.CAPTION_NB_IMAGES|replace({'<br>': ', '})}}</div>
                    {% endif %}
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>

{% if albums_navbar is defined and (not albums_navbar is empty) %}
  <div class="row justify-content-center">
    {{ include('_navigation_bar.html.twig', { navbar: albums_navbar }) }}
  </div>
{% endif %}
