<nav class="navbar navbar-expand-lg navbar-contextual {{theme_config.navbar_contextual_style}} {{theme_config.navbar_contextual_bg}}{% if theme_config.page_header == 'fancy' and theme_config.page_header_both_navs %} navbar-transparent navbar-sm{% endif %} sticky-top mb-2">
    <div class="container{% if theme_config.fluid_width %}-fluid{% endif %}">

	{% if TITLE is defined %}
	    {{ include('_breadcrumb.html.twig', { 'elements': TITLE }) }}
	{% endif %}

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#secondary-navbar" aria-controls="secondary-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-end" id="secondary-navbar">
            <ul class="navbar-nav">
		{% if image_orders is defined %}
                    <li class="nav-item dropdown">
			<button type="button" class="btn btn-link nav-link dropdown-toggle" data-toggle="dropdown" title="{{'Sort order'|trans}}">
                            <i class="fa fa-sort" aria-hidden="true"></i>
			    <span class="d-lg-none ml-2">{{'Sort order'|trans}}</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
			    {% for image_order in image_orders %}
				<a class="dropdown-item{% if image_order.SELECTED %} active{% endif %}" href="{{image_order.URL}}">{{image_order.DISPLAY|raw('html')}}</a>
			    {% endfor %}
                        </div>
                    </li>
		{% endif %}
		{% if image_derivatives is defined %}
                    <li class="nav-item dropdown">
                        <button type="button" class="btn btn-link nav-link dropdown-toggle" data-toggle="dropdown" title="{{'Photo sizes'|trans}}">
                            <i class="fa fa-photo" aria-hidden="true"></i>
			    <span class="d-lg-none ml-2">{{'Photo sizes'|trans}}</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
			    {%  for image_derivative in image_derivatives %}
				<a class="dropdown-item{% if image_derivative.SELECTED %} active{% endif %}" href="{{image_derivative.URL}}">{{image_derivative.DISPLAY}}</a>
			    {% endfor %}
                        </div>
                    </li>
		{% endif %}
		{% if favorite is defined %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{favorite.U_FAVORITE}}" title="{{'Delete all photos from your favorites'|trans}}">
                            <i class="fa fa-heartbeat fa-fw" aria-hidden="true"></i><span class="d-lg-none ml-2">{{'Delete all photos from your favorites'|trans}}</span>
                        </a>
                    </li>
		{% endif %}
		{% if U_EDIT is defined %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{U_EDIT}}" title="{{'Edit album'|trans}}">
                            <i class="fa fa-pencil" aria-hidden="true"></i><span class="d-lg-none ml-2">{{'Edit album'|trans}}</span>
                        </a>
                    </li>
		{% endif %}
		{% if U_CADDIE is defined %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{U_CADDIE}}" title="{{'Add to caddie'|trans}}">
                            <i class="fa fa-shopping-basket fa-fw" aria-hidden="true"></i><span class="d-lg-none ml-2">{{'Add to caddie'|trans}}</span>
                        </a>
                    </li>
		{% endif %}
		{% if U_SEARCH_RULES is defined %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{U_SEARCH_RULES}}" onclick="bd_popup(this.href); return false;" title="{{'Search rules'|trans}}">
                            <i class="fa fa-search fa-fw" aria-hidden="true"></i><span class="d-lg-none ml-2">{{'Search rules'|trans}}</span>
                        </a>
                    </li>
		{% endif %}
		{% if U_SLIDESHOW is defined %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% if theme_config.photoswipe %}javascript:;{% else %}{{U_SLIDESHOW}}{% endif %}" id="startSlideshow" title="{{'slideshow'|trans}}">
                            <i class="fa fa-play fa-fw" aria-hidden="true"></i><span class="d-lg-none ml-2 text-capitalize">{{'slideshow'|trans}}</span>
                        </a>
                    </li>
		{% endif %}
		{% if U_MODE_FLAT is defined %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{U_MODE_FLAT}}" title="{{'display all photos in all sub-albums'|trans}}">
                            <i class="fa fa-th-large fa-fw" aria-hidden="true"></i>
			    <span class="d-lg-none ml-2">{{'display all photos in all sub-albums'|trans}}</span>
                        </a>
                    </li>
		{% endif %}
		{% if U_MODE_NORMAL is defined %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{U_MODE_NORMAL}}" title="{{'return to normal view mode'|trans}}">
                            <i class="fa fa-sitemap" aria-hidden="true"></i>
			    <span class="d-lg-none ml-2">{{'return to normal view mode'|trans}}</span>
                        </a>
                    </li>
		{% endif %}
		{% if U_MODE_POSTED is defined or U_MODE_CREATED is defined %}
                    <li class="nav-item dropdown">
                        <button type="button" class="btn btn-link nav-link dropdown-toggle" data-toggle="dropdown" title="{{'Calendar'|trans}}">
                            <i class="fa fa-calendar" aria-hidden="true"></i><span class="d-lg-none ml-2">{{'Calendar'|trans}}</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
			    {% if U_MODE_POSTED %}
				<a class="dropdown-item" href="{{U_MODE_POSTED}}" title="{{'display a calendar by posted date'|trans}}">
                                    <i class="fa fa-share" aria-hidden="true"></i> {{'display a calendar by posted date'|trans}}
				</a>
			    {% endif %}
			    {% if U_MODE_CREATED %}
				<a class="dropdown-item" href="{{U_MODE_CREATED}}" title="{{'display a calendar by creation date'|trans}}">
                                    <i class="fa fa-camera" aria-hidden="true"></i> {{'display a calendar by creation date'|trans}}
				</a>
			    {% endif %}
                        </div>
                    </li>
		{% endif %}

		{% if (category_thumbnails is defined) or (thumbnails is defined) %}
                    <li id="btn-grid" class="nav-item{% if category_view != 'list' %} active{% endif %}">
                        <button type="button" class="btn btn-link nav-link" title="{{'Grid view'|trans}}">
                            <i class="fa fa-th"></i>
			    <span class="d-lg-none ml-2">{{'Grid view'|trans}}</span>
                        </button>
                    </li>
                    <li id="btn-list" class="nav-item{% if category_view == 'list' %} active{% endif %}">
                        <button type="button" class="btn btn-link nav-link" title="{{'List view'|trans}}">
                            <i class="fa fa-th-list"></i>
			    <span class="d-lg-none ml-2">{{'List view'|trans}}</span>
                        </button>
                    </li>
		{% endif %}
            </ul>
        </div>
    </div>
</nav>
