<div id="commentList">
    {% for comment in comments %}
	<div class="comment">
	    {% if comment.src_image is defined %}
		<div class="image">
		    {% if comment_derivative_params is defined %}
			{% set cropped_derivative_params = define_derivative({width: comment_derivative_params.sizing.ideal_size[0], height: comment_derivative_params.sizing.ideal_size[0], crop: true}) %}
		    {% else %}
			{% set cropped_derivative_params = define_derivative({width: derivative_params.sizing.ideal_size[0], height: derivative_params.sizing.ideal_size[0], crop: true}) %}
		    {% endif %}
		    {% set derivative = derivative_from_image({image: comment.image, params: cropped_derivative_params}) %}
		    <a href="{{comment.U_PICTURE}}">
			<img src="{{ media_path(derivative) }}" alt="{{comment.ALT}}">
		    </a>
		</div>
	    {% endif %}
            <div class="description">
		{% if comment.U_DELETE is defined or comment.U_VALIDATE is defined or comment.U_EDIT is defined %}
		    <div class="actions">
			{% if comment.U_DELETE is defined %}
			    <form method="post" action="{{comment.U_DELETE}}" class="form-inline-action">
				<input type="hidden" name="_csrf_token" value="{{csrf_token}}">
				<input class="btn btn-danger btn-sm" type="submit" value="{{'Delete'|trans}}" onclick="return confirm('{{'Are you sure?'|trans}}');">
			    </form>
			{% endif %}
			{% if comment.U_CANCEL is defined %}
			    <a class="btn btn-info btn-sm" href="{{comment.U_CANCEL}}">
				{{'Cancel'|trans}}
			    </a>
			{% endif %}
			{% if comment.U_EDIT is defined and not comment.IN_EDIT is defined %}
			    <a class="btn btn-primary btn-sm" href="{{comment.U_EDIT}}#edit_comment">
				{{'Edit'|trans}}
			    </a>
			{% endif %}
			{% if comment.U_VALIDATE is defined %}
			    <form method="post" action="{{comment.U_VALIDATE}}" class="form-inline-action">
				<input type="hidden" name="_csrf_token" value="{{csrf_token}}">
				<input type="submit" class="btn btn-success btn-sm" value="{{'Validate'|trans}}">
			    </form>
			{% endif %}
		    </div>
		{% endif %}

		<span>{% if comment.WEBSITE_URL %}<a href="{{comment.WEBSITE_URL}}" class="external" target="_blank" rel="noreferrer noopener">{{comment.AUTHOR}}</a>{% else %}{{comment.AUTHOR}}{% endif %}</span>
                {% if comment.EMAIL is defined %}- <a href="mailto:{{comment.EMAIL}}">{{comment.EMAIL}}</a>{% endif %}
                - <span class="commentDate">{{comment.DATE}}</span>
		{% if comment.IN_EDIT is defined %}
		    <a name="edit_comment"></a>
		    <form method="post" action="{{comment.U_EDIT}}">
			<div class="form-group">
			    <label for="website_url">{{'Website'|trans}} :</label>
			    <input class="form-control" type="text" name="website_url" id="website_url" value="{{comment.WEBSITE_URL}}">
			</div>
			<div class="form-group">
			    <label for="contenteditid">{{'Edit a comment'|trans}} :</label>
			    <textarea class="form-control" name="content" id="contenteditid" rows="5" cols="80">{{comment.CONTENT}}</textarea>
			</div>
			<input type="hidden" name="_csrf_token" value="{{csrf_token}}">
			<input type="hidden" name="image_id" value="{{comment.IMAGE_ID}}">
			<button type="submit" class="btn btn-primary">{{'Submit'|trans}}</button>
		    </form>
		{% else %}
		    <blockquote><div>{{comment.CONTENT}}</div></blockquote>
		{% endif %}
            </div>
	</div>
    {% endfor %}
</div>
