<nav class="mt-5" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
	{% if navbar.URL_FIRST is defined %}
	    <li class="page-item"><a class="page-link" href="{{navbar.URL_FIRST}}" rel="first"><i class="fa fa-fast-backward" title="{{'First'|trans}}"></i></a></li>
	    <li class="page-item"><a class="page-link" href="{{navbar.URL_PREV}}" rel="prev"><i class="fa fa-backward" title="{{'Previous'|trans}}"></i></a></li>
	{% else %}
	    <li class="page-item disabled"><span class="page-link"><i class="fa fa-fast-backward" title="{{'First'|trans}}"></i></span></li>
	    <li class="page-item disabled"><span class="page-link"><i class="fa fa-backward" title="{{'Previous'|trans}}"></i></span></li>
	{% endif %}
	{% set prev_page = 0 %}
	{% for page, url in  navbar.pages %}
	    {% if page == navbar.CURRENT_PAGE %}
		<li class="page-item active"><span class="page-link">{{page}}</span></li>
	    {% else %}
		<li class="page-item"><a class="page-link" href="{{url}}">{{page}}</a></li>
	    {% endif %}
	    {% set prev_page = page %}
	{% endfor %}

	{% if navbar.URL_NEXT is defined %}
	    <li class="page-item"><a class="page-link" href="{{navbar.URL_NEXT}}" rel="next"><i class="fa fa-forward" title="{{'Next'|trans}}"></i></a></li>
	    <li class="page-item"><a class="page-link" href="{{navbar.URL_LAST}}" rel="last"><i class="fa fa-fast-forward" title="{{'Last'|trans}}"></i></a></li>
	{% else %}
	    <li class="page-item disabled"><span class="page-link"><i class="fa fa-forward" title="{{'Next'|trans}}"></i></span></li>
	    <li class="page-item disabled"><span class="page-link"><i class="fa fa-fast-forward" title="{{'Last'|trans}}"></i></span></li>
	{% endif %}
    </ul>
</nav>
