<div id="navigationButtons" class="col-12 py-2">
    {% if DISPLAY_NAV_BUTTONS is defined %}
	{% if first is defined %}
	    <a href="{{first.U_IMG}}" title="{{'First'|trans}}{% if first.TITLE is defined %} : {first.TITLE}{% endif %}">
		<i class="fa fa-fast-backward" aria-hidden="true"></i>
	    </a>
	{% else %}
	    <i class="fa fa-fast-backward" aria-hidden="true"></i>
	{% endif %}

	{% if previous is defined %}
	    <a href="{{previous.U_IMG}}" title="{{'Previous'|trans}}{% if previous.TITLE_ESC is defined %} : {{previous.TITLE_ESC}}{% endif %}" id="navPrevPicture">
		<i class="fa fa-chevron-left" aria-hidden="true"></i>
	    </a>
	{% else %}
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
	{% endif %}

	{% if theme_config.photoswipe and not thumbnails is empty %}
            <button type="button" class="btn btn-link" title="{{'Fullscreen'|trans}}" id="startPhotoSwipe">
		<i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </button>
	{% endif %}

	{% if next is defined %}
	    <a href="{{next.U_IMG}}" title="{{'Next'|trans}}{% if next.TITLE_ESC is defined %} : {{next.TITLE_ESC}}{% endif %}" id="navNextPicture">
		<i class="fa fa-chevron-right" aria-hidden="true"></i>
	    </a>
	{% else %}
	    <i class="fa fa-chevron-right" aria-hidden="true"></i>
	{% endif %}

	{% if last is defined %}
	    <a href="{{last.U_IMG}}" title="{{'Last'|trans}}{% if last.TITLE is defined %} : {{last.TITLE}}{% endif %}">
		<i class="fa fa-fast-forward" aria-hidden="true"></i>
	    </a>
	{% else %}
	    <i class="fa fa-fast-forward" aria-hidden="true"></i>
	{% endif %}
    {% endif %}
</div>
