{% import '_macro.html.twig' as macro %}

{% if derivative_params.type == 'thumb' %}
    {% set width=520 %}
    {% set height=360 %}
    {% set rwidth=260 %}
    {% set rheight=180 %}
{% else %}
    {% set width=derivative_params.sizing.ideal_size[0] %}
    {% set height=derivative_params.sizing.ideal_size[1] %}
    {% set rwidth=width %}
    {% set rheight=height %}
{% endif %}


{% set derivative_params = define_derivative({width: width, height: height, crop: true}) %}
{% set idx = 0+START_ID %}
<div class="row">
    {% for thumbnail in thumbnails %}
	{% set derivative = derivative_from_image({image: thumbnail.src_image, params: derivative_params}) %}

	<div class="col-outer {% if category_view == 'list' %}col-12{% else %}{{macro.col_class(rwidth, rheight, theme_config)|trim}}{% endif %}" data-grid-classes="{{macro.col_class(rwidth, rheight, theme_config)|trim}}">
	    <div class="card card-thumbnail">
		<div class="h-100">
		    <a href="{{thumbnail.URL}}" data-index="{{idx}}" class="ripple{% if category_view != 'list' %} d-block{% endif %}">
			<img data-photo-id="{{thumbnail.id}}" class="{% if category_view == 'list' %}card-img-left{% else %}card-img-top{% endif %}"
			     {% if derivative.is_cached() %}src="{{derivative.getUrl()}}"{% else %}src="{{ROOT_URL}}themes/treflez/img/transparent.png" data-src="{{derivative.getUrl()}}"{% endif %} alt="{{thumbnail.TN_ALT}}" title="{{thumbnail.TN_TITLE}}">
			{% if loaded_plugins.UserCollections is defined and not U_LOGIN %}
			    <div class="addCollection" data-id="{{thumbnail.id}}" data-cols="[{{thumbnail.COLLECTIONS}}]">
				<i class="fa fa-star"></i><span class="ml-2">{{'Collections'|trans}}</span>
			    </div>
			{% endif %}
		    </a>
		    {% set idx=idx+1 %}
		    {% if SHOW_THUMBNAIL_CAPTION is defined %}
			<div class="card-body{% if not theme_config.thumbnail_caption and category_view != 'list' %} d-none{% endif %}{% if not theme_config.thumbnail_caption %} list-view-only{% endif %}">
			    <h6 class="card-title">
				<a href="{{thumbnail.URL}}" class="ellipsis{% if thumbnail.icon_ts %} recent{% endif %}">{{thumbnail.NAME}}</a>
				{% if thumbnail.icon_ts %}
				    <i class="fa fa-exclamation"></i>
				{% endif %}
			    </h6>
			    {% if thumbnail.NB_COMMENTS or thumbnail.NB_HITS %}
				<div class="card-text">
				    {% if thumbnail.NB_COMMENTS %}
					<p class="text-muted {% if 0==thumbnail.NB_COMMENTS %}zero {% endif %}nb-comments">
					    {{'number_of_comments'|trans({'count': thumbnail.NB_COMMENTS})}}
					</p>
				    {% endif %}
				    {% if thumbnail.NB_HITS %}
					<p class="text-muted {% if 0==thumbnail.NB_HITS %}zero {% endif %}nb-hits">
					    {{'number_of_hits'|trans({'count': thumbnail.NB_HITS})}}
					</p>
				    {% endif %}
				</div>
			    {% endif %}
			</div>
		    {% endif %}
		</div>
	    </div>
	</div>
    {% endfor %}
</div>
