{% extends "__layout.html.twig" %}

{% block content %}
    <nav class="navbar navbar-contextual navbar-expand-lg {{theme_config.navbar_contextual_style}} {{theme_config.navbar_contextual_bg}} sticky-top mb-5">
	<div class="container{% if theme_config.fluid_width %}-fluid{% endif %}">
	    <div class="navbar-brand mr-auto">
		<a href="{{ path('homepage') }}">{{'Home'|trans}}</a>{{LEVEL_SEPARATOR}}
		{{'User comments'|trans}}
	    </div>
	</div>
    </nav>

    {{ include('_infos_errors.html.twig') }}

    <div class="container{% if theme_config.fluid_width %}-fluid{% endif %}">
	<p><a href="#filter-comments" data-toggle="collapse" class="btn btn-primary">{{'Filter and display comments'|trans}}</a></p>

	<div {% if comment_filter_form.vars.valid or not comment_filter_form.vars.submitted %}class="collapse"{% endif %} id="filter-comments">
	    {{ form_start(comment_filter_form, {attr: { 'class': 'form-horizontal row' }}) }}
		<div class="card col-lg-6">
		    <h4 class="card-header">
			{{'Filter'|trans}}
		    </h4>
		    <div class="card-body">
			{{ form_row(comment_filter_form.keyword) }}
			{{ form_row(comment_filter_form.author) }}
			{{ form_row(comment_filter_form.album) }}
			{{ form_row(comment_filter_form.since) }}
		    </div>
		</div>
		<div class="card col-lg-6">
		    <h4 class="card-header">
			{{'Display'|trans}}
		    </h4>
		    <div class="card-body">
			{{ form_row(comment_filter_form.sort_by) }}
			{{ form_row(comment_filter_form.sort_order) }}
			{{ form_row(comment_filter_form.items_number) }}
		    </div>
		</div>
		<div class="mt-2 ml-3">
		    {{ form_row(comment_filter_form.submit) }}
		</div>
	    {{ form_end(comment_filter_form) }}
	</div>
    </div>

    {{ include('_comments_list.html.twig') }}

    {% if navbar is defined and (not navbar is empty) %}
	<div class="container{% if theme_config.fluid_width %}-fluid{% endif %}">
	    {{ include('_navigation_bar.html.twig', { navbar: navbar }) }}
	</div>
    {% endif %}
{% endblock %}
