{% extends "__layout.html.twig" %}

{% block content %}
    <nav class="navbar navbar-contextual navbar-expand-lg {{theme_config.navbar_contextual_style}} {{theme_config.navbar_contextual_bg}} sticky-top mb-5">
	<div class="container{% if theme_config.fluid_width %}-fluid{% endif %}}">
	    <div class="navbar-brand mr-auto">
		<a href="{{ path('homepage') }}">{{'Home'|trans}}</a>{{LEVEL_SEPARATOR}}
		{{title}}
	    </div>
	    <ul class="nav navbar-nav">
		{% if PLUGIN_INDEX_ACTIONS is defined %}{{PLUGIN_INDEX_ACTIONS}}{% endif %}
	    </ul>
	</div>
    </nav>

    {{ include('_infos_errors.html.twig') }}

    {% if form is defined %}
	<div class="container{% if theme_config.fluid_width %}-fluid{% endif %}">
	    <div class="card">
		<h4 class="card-header">
		    {{'Forgot your password?'|trans}}
		</h4>
		<div class="card-body">
		    {{form(form)}}
		</div>
	    </div>
	</div>
    {% endif %}
{% endblock %}
