{% extends "__layout.html.twig" %}

{% block content %}
    <nav class="navbar navbar-contextual navbar-expand-lg {{theme_config.navbar_contextual_style}} {{theme_config.navbar_contextual_bg}} sticky-top mb-5">
	<div class="container{% if theme_config.fluid_width %}-fluid{% endif %}}">
	    <div class="navbar-brand mr-auto">
		<ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="{{  path('homepage') }}" title="{{'Home'|trans}}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
		    <li class="breadcrumb-item">{{'Password reset'|trans}}</li>
		</ol>
	    </div>
	</div>
    </nav>

    {{ include('_infos_errors.html.twig') }}

    {% if form is defined %}
	<div class="container{% if theme_config.fluid_width %}-fluid{% endif %}">
	    <div class="card">
		<h4 class="card-header">
		    {{'Forgot your password?'|trans}}
		</h4>
		<div class="card-body">
		    {{form(form)}}
		</div>
	    </div>
	</div>
    {% endif %}
{% endblock %}
