{% if blocks.mbMenu.data.qsearch and blocks.mbMenu.data.qsearch and theme_config.quicksearch_navbar %}
  <div class="dropdown-header">
    <form class="navbar-form" role="search" action="{{path('qsearch')}}" method="get" id="quicksearch" onsubmit="return this.q.value!='';">
      <div class="form-group">
        <input type="text" name="q" id="qsearchInput" class="form-control" placeholder="{{'Quick search'|trans}}"/>
      </div>
    </form>
  </div>
  <div class="dropdown-divider"></div>
{% endif %}
{% for link in  blocks.mbMenu.data %}
  {% if link.TITLE is defined %}
    <a class="dropdown-item" href="{{link.URL}}" title="{{link.TITLE}}" {% if link.REL is defined %} {{link.REL}} {% endif %}>{{link.NAME}}
      {% if link.COUNTER is defined %}
        <span class="badge badge-secondary ml-2">{{link.COUNTER}}</span>
      {% endif %}
    </a>
  {% endif %}
{% endfor %}
