<li class="nav-item dropdown">
    {% if app.user %}
	<button type="button" class="btn btn-link nav-link dropdown-toggle" data-toggle="dropdown">
	    <i class="fa fa-user"></i> {{app.user.username}}
	</button>
    {% else %}
	<a class="nav-link" href={{path('login')}}>{{'Login'|trans}}</a>
    {% endif %}
    {%  if app.user %}
	<div class="dropdown-menu dropdown-menu-right" role="menu">
            <div class="dropdown-header">{{'Hello'|trans}} {{app.user.username}}!</div>
            <div class="dropdown-divider"></div>
	    {% if U_LOGIN is defined %}
		<div class="dropdown-header">
		    <form class="navbar-form" method="post" action="{{U_LOGIN}}" id="quickconnect">
			<div class="form-group">
			    <input class="form-control mb-2" type="text" name="_username" id="username" value="" placeholder="{{'Username'|trans}}">
			    <input class="form-control" type="password" name="_password" id="password" placeholder="{{'Password'|trans}}">
			</div>
			{% if AUTHORIZE_REMEMBERING is defined %}
			    <div class="form-check checkbox">
				<label class="form-check-label">
				    <input class="form-check-input" type="checkbox" name="_remember_me" id="remember_me" value="1"> {{'Auto login'|trans}}
				</label>
			    </div>
			{% endif %}
			<input type="hidden" name="_csrf_token" value="{{csrf_token}}">
			<button type="submit" class="btn btn-primary btn-raised" name="login">{{'Login'|trans}}</button>
		    </form>
		</div>
		{%  if U_REGISTER is defined or U_LOGOUT is defined or U_PROFILE is defined or U_ADMIN is defined %}
		    <div class="dropdown-divider"></div>
		{% endif %}
	    {% endif %}
	    {% if U_REGISTER is defined %}
		<a class="dropdown-item" href="{{U_REGISTER}}" title="{{'Create a new account'|trans}}" rel="nofollow">{{'Register'|trans}}</a>
	    {% endif %}
	    {%  if U_PROFILE is defined %}
		<a class="dropdown-item" href="{{U_PROFILE}}" title="{{'customize the appareance of the gallery'|trans}}">{{'Customize'|trans}}</a>
	    {% endif %}
	    {% if is_granted('ROLE_ADMIN') %}
		<a class="dropdown-item" href="{{path('admin_home')}}" title="{{'available for administrators only'|trans}}">{{'Administration'|trans}}</a>
	    {% endif %}
	    {%  if U_LOGOUT is defined %}
		<a class="dropdown-item" href="{{U_LOGOUT}}">{{'Logout'|trans}}</a>
	    {% endif %}
	</div>
    {% endif %}
</li>
