{% extends "__layout.html.twig" %}

{% block html_head %}
    {{parent()}}
    <link rel="alternate" type="application/rss+xml" title="{{'Photos only RSS feed'|trans}}" href="{{U_FEED_IMAGE_ONLY}}">
    <link rel="alternate" type="application/rss+xml" title="{{'Complete RSS feed (photos, comments)'|trans}}" href="{{U_FEED}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-contextual navbar-expand-lg {{theme_config.navbar_contextual_style}} {{theme_config.navbar_contextual_bg}} sticky-top mb-5">
	<div class="container{% if theme_config.fluid_width %}-fluid{% endif %}}">
	    <div class="navbar-brand mr-auto">
		<a href="{{ path('homepage') }}">{{'Home'|trans}}</a>{{LEVEL_SEPARATOR}}
		{{'Notification'|trans}}
	    </div>
	</div>
    </nav>

    {{ include('_infos_errors.html.twig') }}

    <div class="container{% if theme_config.fluid_width %}-fluid{% endif %}">
	<div class="card">
	    <h4 class="card-header">
		{{'Notification'|trans}}
	    </h4>
	    <div class="card-body notification">
		<p>{{'The RSS notification feed provides notification on news from this website : new photos, updated albums, new comments. Use a RSS feed reader.'|trans}}</p>
		<p><a href="{{U_FEED_IMAGE_ONLY}}">{{'Photos only RSS feed'|trans}}</a></p>
		<p><a href="{{U_FEED}}">{{'Complete RSS feed (photos, comments)'|trans}}</a></p>
	    </div>
	</div>
    </div>
{% endblock %}
