{% extends "__layout.html.twig" %}

{% block content %}
    <nav class="navbar navbar-contextual navbar-expand-lg {{theme_config.navbar_contextual_style}} {{theme_config.navbar_contextual_bg}} sticky-top mb-5">
	<div class="container{% if theme_config.fluid_width %}-fluid{% endif %}">
	    <div class="navbar-brand mr-auto">
		<a href="{{U_HOME}}">{{'Home'|trans}}</a>
		{{LEVEL_SEPARATOR}}
		{{'Profile'|trans}}
	    </div>
	</div>
    </nav>

    {{ include('_infos_errors.html.twig') }}

    <div class="container{% if theme_config.fluid_width %}-fluid{% endif %}">
	{{form_start(form)}}
	    {% set form_buttons %}
	    {{form_widget(form.validate)}}
	    {{form_widget(form.cancel)}}
	    {{form_widget(form.resetToDefault)}}
	    {% endset %}
	    {{form_widget(form)}}

	    {{form_buttons}}
	{{form_end(form)}}
    </div>
{% endblock %}
