{% extends "__layout.html.twig" %}

{% block content %}
    <nav class="navbar navbar-contextual navbar-expand-lg {{theme_config.navbar_contextual_style}} {{theme_config.navbar_contextual_bg}} sticky-top mb-5">
	<div class="container{% if theme_config.fluid_width %}-fluid{% endif %}">
	    <div class="navbar-brand mr-auto">
		<ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="{{  path('homepage') }}" title="{{'Home'|trans}}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
		    <li class="breadcrumb-item">{{'Registration'|trans}}</li>
		</ol>
	    </div>
	</div>
    </nav>

    {{ include('_infos_errors.html.twig') }}

    <div class="container{% if theme_config.fluid_width %}-fluid{% endif %}">
	<div class="card col-lg-6">
	    <h4 class="card-header">
		{{'Connection settings'|trans}}
	    </h4>
	    <div class="card-body">
		{{form_start(form)}}

		    {{form_widget(form)}}
		    <div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
			    <input type="submit" name="submit" value="{{'Register'|trans}}" class="btn btn-primary btn-raised">
			    <input type="reset" value="{{'Reset'|trans}}" class="btn btn-secondary btn-raised">
			</div>
		    </div>

		{{form_end(form)}}
	    </div>
	</div>
    </div>
{% endblock %}
