{% extends "__layout.html.twig" %}

{% block content %}
    <nav class="navbar navbar-contextual navbar-expand-lg {{theme_config.navbar_contextual_style}} {{theme_config.navbar_contextual_bg}} sticky-top mb-5">
	<div class="container{% if theme_config.fluid_width %}-fluid{% endif %}">
	    <div class="navbar-brand mr-auto">
		<a href="{{U_HOME}}">{{'Home'|trans}}</a>{{LEVEL_SEPARATOR}}
		{{title}}
	    </div>
	    <ul class="nav navbar-nav">
		{% if PLUGIN_INDEX_ACTIONS is defined %}{{PLUGIN_INDEX_ACTIONS}}{% endif %}
	    </ul>
	</div>
    </nav>

    {{ include('_infos_errors.html.twig') }}

    {% if not infos %}
	<div class="container{% if theme_config.fluid_width %}-fluid{% endif %}">
	    <form action="{{reset_password_action}}" method="post" class="form-horizontal">
		<div class="card col-lg-6">
		    <h4 class="card-header">
		        {{'Forgot your password?'|trans}}
		    </h4>
		    <div class="card-body">
		        <div class="form-group">
			    {{'Enter your new password below.'|trans}}
		        </div>
		        <div class="form-group">
			    <label for="password" class="control-label">{{'New password'|trans}}</label>
			    <input type="password" name="_password" id="password" value="" class="form-control" placeholder="{{'New password'|trans}}">
		        </div>
		        <div class="form-group">
			    <label for="password_confirmation" class="control-label">{{'Confirm Password'|trans}}</label>
			    <input type="password" name="_password_confirmation" id="password_confirmation" class="form-control" value="" placeholder="{{'Confirm Password'|trans}}">
		        </div>
		        <div class="form-group">
			    <input type="hidden" name="_csrf_token" value="{{csrf_token}}">
			    <input type="submit" name="submit" value="{{'Submit'|trans}}" class="btn btn-primary">
		        </div>
		    </div>
		</div>
	    </form>
	</div>
    {% endif %}
{% endblock %}
