{% trans_default_domain 'admin' %}
{% extends "mail/html/__layout.html.twig" %}

{% block content %}
    <div id="nbm_message">
	<h2>{{'Notification'|trans}}</h2>
	<p>{{'Hello'|trans}} {{USERNAME}},</p>

	{% if subscribe_by_admin %}
	    <p>{{'The webmaster has subscribed you to receiving notifications by mail.'|trans}}</p>
	{% endif %}
	{% if subscribe_by_himself %}
	    <p>{{'You have subscribed to receiving notifications by mail.'|trans}}</p>
	{% endif %}
	{% if unsubscribe_by_admin %}
	    <p>{{'The webmaster has unsubscribed you from receiving notifications by mail.'|trans}}</p>
	{% endif %}
	{% if unsubscribe_by_himself %}
	    <p>{{'You have unsubscribed from receiving notifications by mail.'|trans}}</p>
	{% endif %}

	{% if content_new_elements_single %}
	    <p>
		{{'New photos were added'|trans}}
		{{'on'|trans}}
		{{content_new_elements_single.DATE_SINGLE|date('Y-m-d H:m:i')}}.
	    </p>
	{% endif %}

	{% if content_new_elements_between %}
	    <p>
		{{'New photos were added'|trans}}
		{{'between'|trans}}
		{{content_new_elements_between.DATE_BETWEEN_1|date('Y-m-d H:m:i')}}
		{{'and'|trans}}
		{{content_new_elements_between.DATE_BETWEEN_2|date('Y-m-d H:m:i')}}.
	    </p>
	{% endif %}

	{% if global_new_lines %}
	    <ul id="nbm_new_line">
		{% for line in global_new_lines %}
		    <li>{{line}}</li>
		{% endfor %}
	    </ul>
	{% endif %}

	{% if custom_mail_content %}
	    <p>{{custom_mail_content}}</p>
	{% endif %}

	{% if GALLERY_TITLE %}
	    <p>{{'Go to'|trans}}
		<a href="{{GALLERY_URL}}">{{GALLERY_TITLE}}</a>.
	    </p>
	{% endif %}

	<p>{{'See you soon,'|trans}}</p>
	<p style="text-align:center">{{SEND_AS_NAME}}</p>
	<hr>
	<p>
	    {{'To unsubscribe'|trans}}{{', click on'|trans}}
	    <a href="{{UNSUBSCRIBE_LINK}}">{{UNSUBSCRIBE_LINK}}</a><br>
	    {{'To subscribe'|trans}}{{', click on'|trans}}
	    <a href="{{SUBSCRIBE_LINK}}">{{SUBSCRIBE_LINK}}</a><br>
	    {{'If you encounter problems or have any question, please send a message to'|trans}}
	    <a href="mailto:{{CONTACT_EMAIL}}?subject={{'[NBM] Problems or questions'|trans}}">{{CONTACT_EMAIL}}</a><br>
	</p>
	<hr>
    </div>

    {% if recent_posts %}
	<div id="nbm_recent_post">
	    {% for recent_post in recent_posts %}
		<h2>{{recent_post.TITLE}}</h2>
		{{recent_post.HTML_DATA}}
	    {% endfor %}
	</div>
    {% endif %}
    </div>
{% endblock %}
