{% trans_default_domain 'admin' %}
{% extends "mail/html/__layout.html.twig" %}

{% block content %}
    <p>
	{{'Someone requested that the password be reset for the following user account:'|trans}}
	{{'Username "%username%" on gallery %url%'|trans({'%username%': user.username, '%url%': gallery_url})}}
    </p>
    <p>
	{{'To reset your password, visit the following address:'|trans}}
	<a href="{{url}}">{{'confirmation link'|trans}}</a>
    </p>
    <p>{{'If this was a mistake, just ignore this email and nothing will happen.'|trans}}</p>
{% endblock %}
