{% trans_default_domain 'admin' %}
{% extends "__layout.html.twig" %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{{U_PAGE}}">{{'Albums'|trans}}</a></li>
    <li class="breadcrumb-item">{{'Album'|trans}}:
	{% for category_nav in CATEGORIES_NAV %}
	    <a href="{{category_nav.url}}">{{category_nav.name}}</a>
	    {% if not loop.last %}/{% endif %}
	{% endfor %}
    </li>
    <li class="breadcrumb-item">{{'Properties'|trans}}</li>
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('admin/theme/js/plugins/selectize.clear.css')}}">
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
     var ws_url = '{{ws}}';
    </script>

    <script src="{{asset('admin/theme/js/LocalStorageCache.js')}}"></script>
    <script src="{{asset('admin/theme/js/plugins/selectize.js')}}"></script>
    <script>
     var categoriesCache = new CategoriesCache({
	 serverKey: '{{CACHE_KEYS.categories}}',
	 serverId: '{{CACHE_KEYS._hash}}',
	 rootUrl: '{{app.request.basepath}}/'
     });

     categoriesCache.selectize($('[data-selectize=categories]'), {
	 default: 0,
	 filter: function(categories, options) {
	     // remove itself and children
	     var filtered = $.grep(categories, function(cat) {
		 return !(/\b{{CAT_ID}}\b/.test(cat.uppercats));
	     });

	     filtered.push({
		 id: 0,
		 fullname: '------------',
		 global_rank: 0
	     });

	     return filtered;
	 }
     });
    </script>
{% endblock %}

{% block content %}
    <form class="vertical-form" action="{{F_ACTION}}" method="POST" id="catModify">
	<div class="fieldset">
	    <h3>{{'Informations'|trans}}</h3>

	    <p>
		{% if representant is defined %}
		    {% if representant.picture is defined %}
			<a href="{{representant.picture.URL}}"><img src="{{representant.picture.SRC}}" alt=""></a>
		    {% else %}
			<img src="./theme/icon/category_representant_random.png" alt="{{'Random photo'|trans}}">
		    {% endif %}

		    {% if representant.ALLOW_SET_RANDOM is defined %}
			<input class="btn btn-sm btn-submit" type="submit" name="set_random_representant" value="{{'Refresh'|trans}}" title="{{'Find a new representant by random'|trans}}">
		    {% endif %}

		    {% if representant.ALLOW_DELETE is defined %}
			<input class="btn btn-sm btn-delete" type="submit" name="delete_representant" value="{{'Delete Representant'|trans}}">
		    {% endif %}
		{% endif %}
	    </p>

	    <p>{{INTRO}}</p>
	    <p>{{'Numeric identifier'|trans}}: {{CAT_ID}}</p>
	    <ul>
		<li><a href="{{U_JUMPTO}}"><i class="fa fa-eye"></i> {{'jump to album'|trans}} →</a></li>

		{% if U_MANAGE_ELEMENTS is defined %}
		    <li><a href="{{U_MANAGE_ELEMENTS}}"><i class="fa fa-photo"></i> {{'manage album photos'|trans}}</a></li>
		{% endif %}

		<li><a href="{{U_ADD_PHOTOS_ALBUM}}"><i class="fa fa-plus-circle"></i> {{'Add Photos'|trans}}</a></li>
		<li><a href="{{U_CHILDREN}}"><i class="fa fa-sitemap"></i> {{'manage sub-albums'|trans}}</a></li>

	       {% if U_SYNC is defined %}
		   <li><a href="{{U_SYNC}}"><i class="fa fa-exchange"></i> {{'Synchronize'|trans}}</a> ({{'Directory'|trans}} = {{CAT_FULL_DIR}})</li>
	       {% endif %}

	       {% if U_DELETE is defined %}
		   <li><a class="text-danger" href="{{U_DELETE}}" onclick="return confirm('{{'Are you sure?'|trans}}');"><i class="fa fa-trash"></i> {{'delete album'|trans}}</a></li>
	       {% endif %}
	   </ul>
       </div>

       <div class="fieldset">
	   <h3>{{'Properties'|trans}}</h3>
	   <p>
	       <label for="name">{{'Name'|trans}}</label>
	       <input class="form-control" type="text" id="name" name="name" value="{{CAT_NAME}}" maxlength="255">
	   </p>

	   <p>
	       <label for="comment">{{'Description'|trans}}</label>
	       <textarea class="form-control" cols="50" rows="5" name="comment" id="comment">{{CAT_COMMENT}}</textarea>
	   </p>

	   {% if parent_category %}
	       <p>
		   <label for="categories">{{'Parent album'|trans}}</label>
		   <select id="categories" data-selectize="categories" data-value="{{parent_category|json_encode()}}" name="parent" style="width:600px"></select>
	       </p>
	   {% endif %}

	   <h3>{{'Lock'|trans}}</h3>
	   <p>
	       {% for option in albums_options %}
		   <label>
		       <input type="radio" name="visible" value="{{option.id}}" {% if option.id == CAT_VISIBLE %}checked="checked"{% endif %} />
		       {{option.label}}
		   </label>
	       {% endfor %}
	   </p>

	   {% if CAT_COMMENTABLE is defined %}
	       <h3>{{'Comments'|trans}}</h3>
	       <p>
		   {% for option in albums_options %}
		       <label>
			   <input type="radio" name="commentable" value="{{option.id}}" {% if option.id == CAT_COMMENTABLE %}checked="checked"{% endif %} />
			   {{option.label}}
		       </label>
		   {% endfor %}
		   <label>
		       <input type="checkbox" name="apply_commentable_on_sub">
		       {{'Apply to sub-albums'|trans}}
		   </label>
	       </p>
	   {% endif %}

	   <p>
	       <input class="btn btn-submit" type="submit" value="{{'Save Settings'|trans}}" name="submit">
	   </p>
       </div>
   </form>
{% endblock %}
