{% trans_default_domain 'admin' %}
{% extends "__layout.html.twig" %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{{U_PAGE}}">{{'Batch Manager'|trans}}</a></li>
    <li class="breadcrumb-item">{{'unit mode'|trans}}</li>
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('admin/theme/js/ui/theme/jquery.ui.core.css')}}">
    <link rel="stylesheet" href="{{asset('admin/theme/js/plugins/selectize.clear.css')}}">
    <link rel="stylesheet" href="{{asset('admin/theme/js/ui/theme/jquery.ui.datepicker.css')}}">
    <link rel="stylesheet" href="{{asset('admin/theme/js/ui/theme/jquery.ui.timepicker-addon.css')}}">
{% endblock %}

{% block javascripts %}
    {% set app_lang = 'en' %}

    {{parent()}}
    <script src="{{asset('admin/theme/js/ui/jquery.ui.core.js')}}"></script>
    <script src="{{asset('admin/theme/js/ui/jquery.ui.widget.js')}}"></script>
    <script src="{{asset('admin/theme/js/ui/jquery.ui.mouse.js')}}"></script>
    <script src="{{asset('admin/theme/js/plugins/jquery.colorbox.js')}}"></script>
    <script src="{{asset('admin/theme/js/ui/jquery.ui.datepicker.js')}}"></script>
    <script src="{{asset('admin/theme/js/plugins/selectize.js')}}"></script>
    <script src="{{asset('admin/theme/js/LocalStorageCache.js')}}"></script>
    <script src="{{asset('admin/theme/js/ui/jquery.ui.datepicker.js')}}"></script>
    <script src="{{asset('admin/theme/js/ui/jquery.ui.timepicker-addon.js')}}"></script>
    <script src="{{asset('admin/theme/js/ui/i18n/jquery.ui.datepicker-' ~ app_lang ~ '.js')}}"></script>
    <script src="{{asset('admin/theme/js/ui/i18n/jquery.ui.timepicker-' ~ app_lang ~ '.js')}}"></script>
    <script src="{{asset('admin/theme/js/datepicker.js')}}"></script>
    <script>
     var tagsCache = new TagsCache({
	 serverKey: '{{CACHE_KEYS.tags}}',
	 serverId: '{{CACHE_KEYS._hash}}',
	 rootUrl: '{{app.request.basepath}}/'
     });

     tagsCache.selectize($('[data-selectize=tags]'), { lang: {
	 'Add': '{{'Create'|trans}}'
     }});

     $(function() {
	 $('[data-datepicker]').pwgDatepicker({
	     showTimepicker: true,
	     cancelButton: '{{'Cancel'|trans}}'
	 });

	 $("a.preview-box").colorbox();
     });
    </script>
{% endblock %}

{% block content %}
    <form action="{{F_ACTION}}" method="POST">
	<div class="fieldset">
	    <h3>{{'Display options'|trans}}</h3>
	    <p>{{'photos per page'|trans}} :
		<a href="{{F_ACTION}}?display=5">5</a>
		| <a href="{{F_ACTION}}?display=10">10</a>
		| <a href="{{F_ACTION}}?display=50">50</a>
	    </p>
	</div>

	{% if navbar %}{{include('_navigation_bar.html.twig')}}{% endif %}

	{% if elements %}
	    <div><input type="hidden" name="element_ids" value="{{ELEMENT_IDS}}"></div>
	    {% for element in elements %}
		<div class="fieldset">
		    <h3>{{element.LEGEND}}</h3>

		    <p>
			<a href="{{element.FILE_SRC}}" class="preview-box icon-zoom-in" title="{{element.LEGEND}}"><img src="{{element.TN_SRC}}" alt=""></a>
			<a class="btn btn-edit" href="{{element.U_EDIT}}"><i class="fa fa-pencil"></i>{{'Edit'|trans}}</a>
		    </p>

		    <p>
			<label for="name-{{element.id}}">{{'Title'|trans}}</label>
			<input class="form-control" type="text" name="name-{{element.id}}" id="name-{{element.id}}" value="{{element.NAME}}">
		    </p>

		    <p>
			<label for="author-{{element.id}}">{{'Author'|trans}}</label>
			<input class="form-control" type="text" name="author-{{element.id}}" id="author-{{element.id}}" value="{{element.AUTHOR}}">
		    </p>

		    <p>
			<label>{{'Creation date'|trans}}</label>
			<input type="hidden" name="date_creation-{{element.id}}" value="{{element.DATE_CREATION}}">
			<label>
			    <i class="fa fa-calendar"></i>
			    <input type="text" data-datepicker="date_creation-{{element.id}}" data-datepicker-unset="date_creation_unset-{{element.id}}" readonly>
			</label>
			<a href="#" id="date_creation_unset-{{element.id}}"><i class="fa fa-times-circle"></i>{{'unset'|trans}}</a>
		    </p>

		    <p>
			<label for="level-{{element.id}}">{{'Who can see this photo?'|trans}}</label>
			<select class="custom-select" name="level-{{element.id}}" id="level-{{element.id}}">
			    {% for option, label in level_options %}
				<option value="{{option}}" {% if option == element.LEVEL %}selected="selected"{% endif %}>{{label}}</option>
			    {% endfor %}
			</select>
		    </p>

		    <p>
			<label for="tags-{{element.id}}">{{'Tags'|trans}}</label>
			<select data-selectize="tags" data-value="{{element.TAGS|json_encode}}"
				placeholder="{{'Type in a search term'|trans}}" data-create="true" id="tags-{{element.id}} name="tags-{{element.id}}[]" multiple></select>
		    </p>

		    <p>
			<label for="description-{{element.id}}">{{'Description'|trans}}</label>
			<textarea cols="50" rows="5" name="description-{{element.id}}" id="description-{{element.id}}" class="form-control">{{element.DESCRIPTION}}</textarea>
		    </p>
		</div>
	    {% endfor %}

	    {% if navbar %}{{include('_navigation_bar.html.twig')}}{% endif %}

	    <p>
		<input type="submit" class="btn btn-submit" value="{{'Submit'|trans}}" name="submit">
		<input type="reset" class="btn btn-reset" value="{{'Reset'|trans}}">
	    </p>
	{% endif %}
    </form>
{% endblock %}
