{% trans_default_domain 'admin' %}
{% extends "__layout.html.twig" %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{{U_PAGE}}">{{'Configuration'|trans}}</a></li>
    <li class="breadcrumb-item">{{'General'|trans}}</li>
{% endblock %}

{% block content %}
    <form method="post" action="{{F_ACTION}}" class="properties">
	<div class="fieldset">
	    <h3>{{'Basic settings'|trans}}</h3>
	    <p>
		<label for="gallery_title">{{'Gallery title'|trans}}</label>
		<input type="text" class="form-control" maxlength="255" size="50" name="gallery_title" id="gallery_title" value="{{main.CONF_GALLERY_TITLE}}">
	    </p>

	    <p>
		<label for="page_banner">{{'Page banner'|trans}}</label>
		<textarea class="form-control" rows="5" cols="50" class="description" name="page_banner" id="page_banner">{{main.CONF_PAGE_BANNER|raw}}</textarea>
	    </p>

	    <div id="order_filters">
		<h4>{{'Default photos order'|trans}}</h4>
		{% for order in main.order_by %}
		    <div class="input-group filter {% if ORDER_BY_IS_CUSTOM is defined %}transparent{% endif %}">
			<select class="custom-select" name="order_by[]" {% if ORDER_BY_IS_CUSTOM is defined %}disabled{% endif %}>
			    {% for option in main.order_by_options %}
				<option value="{{option}}"{% if option==order %} selected="selected"{% endif %}>{{option}}</option>
			    {% endfor %}
			</select>
			<div class="input-group-append">
			    {% if loop.index==0 %}
				<button class="input-group-btn add-filter btn btn-success fa fa-plus"><span class="visually-hidden">{{'Add a criteria'|trans}}</span></button>
			    {% else %}
				<button class="input-group-btn remove-filter btn btn-danger fa fa-minus"><span class="visually-hidden">{{'delete'|trans}}</span></button>
			    {% endif %}
        		</div>
		    </div>
		{% endfor %}

		{% if ORDER_BY_IS_CUSTOM is defined %}
		    <p class="order_by_is_custom">{{'You can\'t define a default photo order because you have a custom setting in your local configuration.'|trans}}</p>
		{% endif %}
	    </div>
	</div>

	<div class="fieldset">
	    <h3>{{'Permissions'|trans}}</h3>
	    <p>
		<label class="font-checkbox">
		    <i class="fa fa-check-square"></i>
		    <input type="checkbox" name="rate" {% if main.rate is defined %}checked="checked"{% endif %}>
		    {{'Allow rating'|trans}}
		</label>

		<label id="rate_anonymous" class="font-checkbox no-bold">
		    <i class="fa fa-check-square"></i>
		    <input type="checkbox" name="rate_anonymous" {% if main.rate_anonymous is defined %}checked="checked"{% endif %}>
		    {{'Rating by guests'|trans}}
		</label>
	    </p>
	    <p>
		<label class="font-checkbox">
		    <i class="fa fa-check-square"></i>
		    <input type="checkbox" name="allow_user_registration" {% if main.allow_user_registration is defined %}checked="checked"{% endif %}>
		    {{'Allow user registration'|trans}}
		</label>

		<label id="email_admin_on_new_user" class="font-checkbox no-bold">
		    <i class="fa fa-check-square"></i>
		    <input type="checkbox" name="email_admin_on_new_user" {% if main.email_admin_on_new_user is defined %}checked="checked"{% endif %}>
		    {{'Email admins when a new user registers'|trans}}
		</label>
	    </p>

	    <p>
		<label class="font-checkbox">
		    <i class="fa fa-check-square"></i>
		    <input type="checkbox" name="allow_user_customization" {% if main.allow_user_customization is defined %}checked="checked"{% endif %}>
		    {{'Allow user customization'|trans}}
		</label>

		<label class="font-checkbox">
		    <i class="fa fa-check-square"></i>
		    <input type="checkbox" name="obligatory_user_mail_address" {% if main.obligatory_user_mail_address is defined %}checked="checked"{% endif %}>
		    {{'Mail address is mandatory for registration'|trans}}
		</label>
	    </p>
	</div>

	<div class="fieldset">
	    <h3>{{'Miscellaneous'|trans}}</h3>
	    <p>
		<label>{{'Week starts on'|trans}}
		    <select class="custom-select" name="week_starts_on">
			{% for option in main.week_starts_on_options %}
			    <option value="{{option}}"{% if option==main.week_starts_on_options_selected %} selected="selected"{% endif %}>{{option}}</option>
			{% endfor %}
		    </select>
		</label>
	    </p>

	    <p>
		<strong>{{'Save visits in history for'|trans}}</strong>

		<label class="font-checkbox no-bold">
		    <i class="fa fa-check-square"></i>
		    <input type="checkbox" name="history_guest" {% if main.history_guest is defined %}checked="checked"{% endif %}>
		    {{'simple visitors'|trans}}
		</label>

		<label class="font-checkbox no-bold">
		    <i class="fa fa-check-square"></i>
		    <input type="checkbox" name="log" {% if main.log is defined %}checked="checked"{% endif %}>
		    {{'registered users'|trans}}
		</label>

		<label class="font-checkbox no-bold">
		    <i class="fa fa-check-square"></i>
		    <input type="checkbox" name="history_admin" {% if main.history_admin is defined %}checked="checked"{% endif %}>
		    {{'administrators'|trans}}
		</label>
	    </p>

	    <h4>{{'Mail theme'|trans}}</h4>
	    <div class="themeBoxes font-checkbox">
		{% for theme, theme_name in main.mail_theme_options %}
		    <div class="themeBox {% if main.mail_theme==theme %}themeDefault{% endif %}">
			<label>
			    <div class="themeName">
				<i class="fa fa-check-square"></i>
				<input type="radio" name="mail_theme" value="{{theme}}" {% if main.mail_theme==theme %}checked{% endif %}>
				{{theme_name}}
			    </div>
			</label>
		    </div>
		{% endfor %}
	    </div>
	</div>

	<p>
	    <input type="hidden" name="pwg_token" value="{{csrf_token}}">
	    <input type="submit" class="btn btn-submit" name="submit" value="{{'Save Settings'|trans}}">
	</p>
    </form>
{% endblock %}
