{% trans_default_domain 'admin' %}
{% extends "__layout.html.twig" %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{{U_PAGE}}">{{'Configuration'|trans}}</a></li>
    <li class="breadcrumb-item">{{'Photo sizes'|trans}}</li>
{% endblock %}

{% block content %}
    <form method="post" action="{{F_ACTION}}" class="properties">
	<div class="fieldset">
	    <h3>{{'Original Size'|trans}}</h3>
	    {% if is_gd is defined %}
		    <div>
			{{'Resize after upload disabled due to the use of GD as graphic library'|trans}}
			<input type="checkbox" name="original_resize" disabled="disabled" style="visibility: hidden">
			<input type="hidden" name="original_resize_maxwidth" value="{{sizes.original_resize_maxwidth}}">
			<input type="hidden" name="original_resize_maxheight" value="{{sizes.original_resize_maxheight}}">
			<input type="hidden" name="original_resize_quality" value="{{sizes.original_resize_quality}}">
		    </div>
		{% else %}
		    <div>
			<label class="font-checkbox">
			    <i class="fa fa-check-square"></i>
			    <input type="checkbox" name="original_resize" {% if sizes.original_resize is defined %}checked="checked"{% endif %} data-toggle="collapse" data-target="#resize-original">
			    {{'Resize after upload'|trans}}
			</label>
		    </div>

		    <div class="collapse" id="resize-original">
			<p>
			    <label>
				{{'Maximum width'|trans}}
				<input type="text" name="original_resize_maxwidth" value="{{sizes.original_resize_maxwidth}}" size="4" maxlength="4"{% if ferrors.original_resize_maxwidth is defined %} class="dError"{% endif %}>
				{{'pixels'|trans}}
				{% if ferrors.original_resize_maxwidth is defined %}<span class="dErrorDesc" title="{{ferrors.original_resize_maxwidth}}">X</span>{% endif %}
			    </label>
			</p>
			<p>
			    <label>
				{{'Maximum height'|trans}}
				<input type="text" name="original_resize_maxheight" value="{{sizes.original_resize_maxheight}}" size="4" maxlength="4"{% if ferrors.original_resize_maxheight is defined %} class="dError"{% endif %}>
				{{'pixels'|trans}}
				{% if ferrors.original_resize_maxheight is defined %}<span class="dErrorDesc" title="{{ferrors.original_resize_maxheight}}">X</span>{% endif %}
			    </label>
			</p>
			<p>
			    <label>
				{{'Image quality'|trans}}
				<input type="text" name="original_resize_quality" value="{{sizes.original_resize_quality}}" size="3" maxlength="3"{% if ferrors.original_resize_quality is defined %} class="dError"{% endif %}> %
				{% if ferrors.original_resize_quality is defined %}<span class="dErrorDesc" title="{{ferrors.original_resize_quality}}">X</span>{% endif %}
			    </label>
			</p>
		    </div>
		{% endif %}
	</div>

	<div class="fieldset">
	    <h3>{{'Multiple Size'|trans}}</h3>

	    <table class="table table-hover">
		{% for type, d in derivatives %}
		    <tr>
			<td>
			    <label>
				{% if d.must_enable is defined %}
				    <span class="sizeEnable">
					<i class="fa fa-check"></i>
				    </span>
				{% else %}
				    <label class="font-checkbox">
					<i class="fa fa-check-square"></i>
					<input type="checkbox" name="d[{{type}}][enabled]" {% if d.enabled is defined %}checked="checked"{% endif %}>
				    </label>
				{% endif %}
				{{type|trans}}
			    </label>
			</td>

			<td>
			    {{d.w}} x {{d.h}} {{'pixels'|trans}}{% if d.crop is defined %}, {{'Crop'|trans|lower}}{% endif %}
			</td>

			<td>
			    <a class="btn btn-submit" href="#sizeEdit-{{type}}" data-toggle="collapse">{{'edit'|trans}}</a>
			</td>
		    </tr>

		    <tr id="sizeEdit-{type}" class="collapse">
			<td colspan="3">
			    {% if not d.must_square is defined %}
				<p>
				    <label class="font-checkbox">
					<i class="fa fa-check-square"></i>
					<input type="checkbox" class="cropToggle" name="d[{{type}}][crop]" {% if d.crop is defined %}checked="checked"{% endif %}>
					{{'Crop'|trans}}
				    </label>
				</p>
			    {% endif %}
			    <p>
				<label>
				    {% if d.must_square is defined or d.crop is defined %}{{'Width'|trans}}{% else %}{{'Maximum width'|trans}}{% endif %}
				    <input class="form-control" type="text" name="d[{{type}}][w]" maxlength="4" size="4" value="{{d.w}}"{% if ferrors.type.w is defined %} class="dError"{% endif %}> {{'pixels'|trans}}
				    {% if ferrors.type.w is defined %}<span class="dErrorDesc" title="{{ferrors.type.w}}">X</span>{% endif %}
				</label>
			    </p>
			    {% if not d.must_square is defined %}
				<p>
				    <label>{% if d.crop is defined %}{{'Height'|trans}}{% else %}{{'Maximum height'|trans}}{% endif %}
					<input class="form-control" type="text" name="d[{{type}}][h]" maxlength="4" size="4"  value="{{d.h}}"{% if ferrors.type.h is defined %} class="dError"{% endif %}> {{'pixels'|trans}}
					{% if ferrors.type.h is defined %}<span class="dErrorDesc" title="{{ferrors.type.h}}">X</span>{% endif %}
				    </label>
				</p>
			    {% endif %}
			    <p>
				<label>
				    {{'Sharpen'|trans}}
				    <input class="form-control" type="text" name="d[{{type}}][sharpen]" maxlength="4" size="4"  value="{{d.sharpen}}"{% if ferrors.type.sharpen is defined %} class="dError"{% endif %}> %
				    {% if ferrors.type.sharpen is defined %}<span class="dErrorDesc" title="{{ferrors.type.sharpen}}">X</span>{% endif %}
				</label>
			    </p>
			</td>
		    </tr>
		{% endfor %}
	    </table>

	    <p>
		{{'Image quality'|trans}}
		<input class="form-control" type="text" name="resize_quality" value="{{resize_quality}}" size="3" maxlength="3"{% if ferrors.resize_quality is defined %} class="dError"{% endif %}> %
		{% if ferrors.resize_quality is defined %}<span class="dErrorDesc" title="{{ferrors.resize_quality}}">X</span>{% endif %}
	    </p>
	    <p>
		<a class="btn btn-reset" href="{{path('admin_configuration_sizes_restore')}}" onclick="return confirm('{{'Are you sure?'|trans}}');">{{'Reset to default values'|trans}}</a>
	    </p>
	</div>

	{% if custom_derivatives is defined %}
	    <div class="fieldset">
		<h3>{{'custom'|trans}}</h3>

		{% for custom, time in custom_derivatives %}
		    <p>
			<label class="font-checkbox">
			    <i class="fa fa-check-square"></i>
			    <input type="checkbox" name="delete_custom_derivative_{{custom}}"> {{'Delete'|trans}} {{custom}} ({{'Last hit'|trans}}: {{time|date}})
			</label>
		    </p>
		{% endfor %}
	    </div>
	{% endif %}

	<p>
	    <input type="hidden" name="pwg_token" value="{{csrf_token}}">
	    <input type="submit" class="btn btn-submit" name="submit" value="{{'Save Settings'|trans}}">
	</p>
    </form>
{% endblock %}
