{% trans_default_domain 'admin' %}
{% extends "__layout.html.twig" %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{{ path('admin_history_search') }}">{{'History'|trans}}</a></li>
    <li class="breadcrumb-item">{{'Search'|trans}}</li>
{% endblock %}

{% block content %}
    {{ form_start(history_search_form) }}
	<p><button type="button" class="btn btn-submit" data-toggle="collapse" data-target="#filter">{{'Search filter'|trans}}</button></p>

	<div class="fieldset collapse" id="filter">
	    <h3>{{'Filter'|trans}}</h3>
	    <div class="row">
		<div class="col-auto">
		    {{form_row(history_search_form.start)}}
		    {{form_row(history_search_form.end)}}
		</div>
		<div class="col-auto">
		    {{form_row(history_search_form.types)}}
		</div>
		<div class="col-auto">
		    {{form_row(history_search_form.image_id)}}
		    {{form_row(history_search_form.filename)}}
		    {{form_row(history_search_form.display_thumbnail)}}
		</div>
		<div class="col-auto">
		    {{form_row(history_search_form.user)}}
		</div>
	    </div>
	    <input class="btn btn-submit" type="submit" name="submit" value="{{'Submit'|trans}}">
	</div>
    {{ form_end(history_search_form) }}

    {% if search_summary is defined %}
	<div class="fieldset">
	    <h3>{{'Summary'|trans}}</h3>

	    <ul>
		<li>{{search_summary.NB_LINES}}, {{search_summary.FILESIZE}}</li>
		<li>
		    {{search_summary.USERS}}
		    <ul>
			<li>{{search_summary.MEMBERS}}</li>
			<li>{{search_summary.GUESTS}}</li>
		    </ul>
		</li>
	    </ul>
	</div>
    {% endif %}

    {% if navbar is defined %}
	{{ include('_navigation_bar.html.twig') }}
    {% endif %}

    {% if search_results is defined %}
	<table class="table table-hover table-striped">
	    <thead>
		<tr>
		    <th>{{'Date'|trans}}</th>
		    <th>{{'Time'|trans}}</th>
		    <th>{{'User'|trans}}</th>
		    <th>{{'IP'|trans}}</th>
		    <th>{{'Element'|trans}}</th>
		    <th>{{'Element type'|trans}}</th>
		    <th>{{'Section'|trans}}</th>
		    <th>{{'Album'|trans}} / {{'Tags'|trans}}</th>
		</tr>
	    </thead>
	    {% for detail in search_results %}
		<tr>
		    <td class="hour">{{detail.DATE|format_date('short')}}</td>
		    <td class="hour">{{detail.TIME|format_time('short')}}</td>
		    <td>{{detail.USER}}</td>
		    <td class="IP">{{detail.IP}}</td>
		    <td>{{detail.IMAGE|raw}}</td>
		    <td>{{detail.TYPE}}</td>
		    <td>{{detail.SECTION}}</td>
		    <td>{{detail.CATEGORY}}{% if detail.TAGS is defined %}&nbsp;/&nbsp;{% endif %}{{detail.TAGS|raw}}</td>
		</tr>
	    {% endfor %}
	</table>
    {% endif %}

    {% if navbar is defined %}
	{{include('_navigation_bar.html.twig') }}
    {% endif %}
{% endblock %}
