{% trans_default_domain 'admin' %}
{% extends "__layout.html.twig" %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item">{{'Maintenance'|trans}}</li>
{% endblock %}

{% block content %}
    <ul>
	{% if U_MAINT_LOCK_GALLERY is defined %}
	    <li><a href="{{U_MAINT_LOCK_GALLERY}}" onclick="return confirm('{{'A locked gallery is only visible to administrators'|trans}}');">{{'Lock gallery'|trans}}</a></li>
	{% else %}
	    <li><a href="{{U_MAINT_UNLOCK_GALLERY}}">{{'Unlock gallery'|trans}}</a></li>
	{% endif %}
    </ul>

    <ul>
	{% for feature in advanced_features %}
	    <li><a href="{{feature.URL}}">{{feature.CAPTION}}</a></li>
	{% endfor %}
    </ul>

    <ul>
	<li><a href="{{U_MAINT_CATEGORIES}}">{{'Update albums informations'|trans}}</a></li>
	<li><a href="{{U_MAINT_IMAGES}}">{{'Update photos information'|trans}}</a></li>
    </ul>

    <ul>
	<li><a href="{{U_MAINT_DATABASE}}">{{'Repair and optimize database'|trans}}</a></li>
    </ul>

    <ul>
	<li><a href="{{U_MAINT_USER_CACHE}}">{{'Purge user cache'|trans}}</a></li>
	<li><a href="{{U_MAINT_ORPHAN_TAGS}}">{{'Delete orphan tags'|trans}}</a></li>
	<li><a href="{{U_MAINT_HISTORY_DETAIL}}" onclick="return confirm('{{'Purge history detail'|trans}}');">{{'Purge history detail'|trans}}</a></li>
	<li><a href="{{U_MAINT_HISTORY_SUMMARY}}" onclick="return confirm('{{'Purge history summary'|trans}}');">{{'Purge history summary'|trans}}</a></li>
	<li><a href="{{U_MAINT_FEEDS}}">{{'Purge never used notification feeds'|trans}}</a></li>
	<li><a href="{{U_MAINT_SEARCH}}" onclick="return confirm('{{'Purge search history'|trans}}');">{{'Purge search history'|trans}}</a></li>
	<li>{{'Delete multiple size images'|trans}}:
	    {% for name, url in purge_derivatives %}
		{% if not loop.first %}, {% endif %}<a href="{{url}}"{% if loop.first %} onclick="return confirm('{{'Are you sure?'|trans}}');"{% endif %}>{{name}}</a>
	    {% endfor %}
	</li>
    </ul>
{% endblock %}
