{% trans_default_domain 'admin' %}
{% extends "__layout.html.twig" %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{{U_PAGE}}">{{'Image'|trans}}</a></li>
    <li class="breadcrumb-item">{{'Center of interest'|trans}}</li>
{% endblock %}

{% block javascripts %}
    <script>
     var phyxo = phyxo || {};
     {% if coi is defined %}
     phyxo.coi = {{coi|json_encode|raw}};
     {% endif %}
    </script>
    {{parent()}}
{% endblock %}

{% block content %}
    <form method="post">
	<div class="fieldset">
	    <h3>{{'Photo sizes with crop'|trans}}</h3>
	    {% for derivative in cropped_derivatives %}
		<img src="{{ media_path(derivative) }}" alt="{{ALT}}">
	    {% endfor %}
	</div>

	<div class="fieldset">
	    <h3>{{'Center of interest'|trans}}</h3>
	    <p>
		{{'The center of interest is the most meaningful zone in the photo.'|trans}}
		{{'For photo sizes with crop, such as "Square", Phyxo will do its best to include the center of interest.'|trans}}
		{{'By default, the center of interest is placed in the middle of the photo.'|trans}}
		{{'Select a zone with your mouse to define a new center of interest.'|trans}}
	    </p>
	    <input type="hidden" id="l" name="l" value="{% if coi.l is defined %}{{coi.l}}{% endif %}">
	    <input type="hidden" id="t" name="t" value="{% if coi.t is defined %}{{coi.t}}{% endif %}">
	    <input type="hidden" id="r" name="r" value="{% if coi.r is defined %}{{coi.r}}{% endif %}">
	    <input type="hidden" id="b" name="b" value="{% if coi.b is defined %}{{coi.b}}{% endif %}">

	    <img id="jcrop" src="{{U_IMG}}" alt="{{ALT}}">

	    <p>
		<input class="btn btn-submit" type="submit" name="submit" value="{{'Submit'|trans}}">
	    </p>
	</div>
    </form>
{% endblock %}
