{% trans_default_domain 'admin' %}
{% extends "__layout.html.twig" %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item">{{'Site manager'|trans}}</li>
{% endblock %}

{% block content %}
    {% if remote_output is defined %}
	<div class="remoteOutput">
	    <ul>
		{% for remote_line in remote_output %}
		    <li class="{{remote_line.CLASS}}">{{remote_line.CONTENT}}</li>
		{% endfor %}
	    </ul>
	</div>
    {% endif %}

    {% if sites is defined %}
	<table class="table table-hover table-striped">
	    <thead>
		<tr>
		    <td>{{'Directory'|trans}}</td>
		    <td>{{'Actions'|trans}}</td>
		</tr>
	    </thead>
	    <tbody>
		{% for site in sites %}
		    <tr>
			<td>
		    	    <p>{{site.NAME}}</p>
			    <p>({{site.TYPE}}, {{site.CATEGORIES}} {{'Albums'|trans}}, {{'number_of_photos'|trans({'count': site.IMAGES})}})</p>
		 	</td>
			<td>
			    <a class="btn btn-sm btn-success" href="{{site.U_SYNCHRONIZE}}" title="{{'update the database from files'|trans}}">{{'Synchronize'|trans}}</a>
			    <form method="POST" action="{{F_ACTION_DELETE}}" class="d-inline">
				<input type="hidden" name="site" value="{{site.ID}}"/>
				<input type="hidden" name="pwg_token" value="{{csrf_token}}">
				<input type="submit" class="btn btn-sm btn-delete" onClick="return confirm('{{'Are you sure?'|trans}}');"
				       title="{{'delete this site and all its attached elements'|trans}}" value="{{'delete'|trans}}"/>
			    </form>
			    {% if site.plugin_links %}
				{% for plugin_link in site.plugin_links %}
				    <a class="btn btn-sm btm-submit" href="{{plugin_link.U_HREF}}" title='{{plugin_link.U_HINT}}'>{{plugin_link.U_CAPTION}}</a>
				{% endfor %}
			    {% endif %}
			</td>
		    </tr>
		{% endfor %}
	    </tbody>
	</table>
    {% endif %}

    <p>
	<a class="btn btn-submit" data-toggle="collapse" href="#create-site">{{'create a new site'|trans}}</a>
    </p>

    <div id="create-site" class="collapse">
    	<form action="{{F_ACTION}}" method="post">
	    <div class="fieldset">
		<h3>{{'create a new site'|trans}}</h3>

		<p>
		    <label>{{'Directory'|trans}}
			<input type="hidden" name="pwg_token" value="{{csrf_token}}">
			<input type="text" class="form-control" name="galleries_url" id="galleries_url">
		    </label>
	    	</p>

	    	<p>
		    <input class="btn btn-submit" type="submit" name="submit" value="{{'Submit'|trans}}">
		    <a class="btn btn-cancel" href="#create-site" data-toggle="collapse">{{'Cancel'|trans}}</a>
	    	</p>
	    </div>
    	</form>
    </div>
{% endblock %}
