{% trans_default_domain 'admin' %}
{% extends "__layout.html.twig" %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{{U_PAGE}}">{{'Tags'|trans}}</a></li>
    <li class="breadcrumb-item">{{'Permissions'|trans}}</li>
{% endblock %}

{% block content %}
    <form method="post" action="{{F_ACTION}}" class="general">
	<div class="fieldset">
	    <p class="field">
		<label class="h3" for="permission_add">{{'Who can add tags?'|trans}}</label>
		<select class="custom-select" name="permission_add" id="permission_add">
		    {% for status, label in STATUS_OPTIONS %}
			<option value="{{status}}" {% if status == PERMISSIONS.add %}selected="selected"{% endif %}>{{label}}</option>
		    {% endfor %}
		</select>
	    </p>
	    <p class="custom-control custom-checkbox">
		<input class="custom-control-input" type="checkbox" value="1" id="existing_tags_only" name="existing_tags_only" {% if PERMISSIONS.existing_tags_only %}checked="checked"{% endif %}>
		<label class="custom-control-label" for="existing_tags_only">{{'Only add existing tags'|trans}}</label>
	    </p>
	    <p class="custom-control custom-checkbox">
		<input class="custom-control-input" type="checkbox" value="1" id="publish_tags_immediately" name="publish_tags_immediately" {% if not PERMISSIONS.publish_tags_immediately %}checked="checked"{% endif %}>
		<label class="custom-control-label" for="publish_tags_immediately">{{'Moderate added tags'|trans}}</label>
	    </p>
	</div>

	<div class="fieldset">
	    <p class="field">
		<label class="h3" for="permission_delete">{{'Who can delete related tags?'|trans}}</label>
		<select class="custom-select" name="permission_delete" id="permission_delete">
		    {% for status, label in STATUS_OPTIONS %}
			<option value="{{status}}" {% if status == PERMISSIONS.delete %}selected="selected"{% endif %}>{{label}}</option>
		    {% endfor %}
		</select>
	    </p>
	    <p class="form-text text-muted">{{'Be careful, whatever the configuration value is, new tag can be deleted anyway'|trans}}.</p>
	    <p class="custom-control custom-checkbox">
		<input class="custom-control-input" type="checkbox" value="1" id="delete_tags_immediately" name="delete_tags_immediately" {% if not PERMISSIONS.delete_tags_immediately %}checked="checked"{% endif %}>
		<label class="custom-control-label" for="delete_tags_immediately">{{'Moderate deleted tags'|trans}}</label>
	    </p>
	    <p class="form-text text-muted">
		{{'If a user delete a tag and you "moderate delete tags", then theses tags will be displayed to all users until you validate the deletion.'|trans}}
	    </p>
	</div>

	<pre>
	    {{dump(PERMISSIONS)}}
	</pre>
	<div class="fieldset">
	    <h3>{{'Display for pending tags'|trans}}</h3>
	    <p class="form-text text-muted">
		{{'By default, if you allow some users to add tags, theses tags are not shown to them (nor others users). And pending deleted tags are shown.'|trans}}
	    </p>
	    <p class="custom-control custom-checkbox">
		<input class="custom-control-input" type="checkbox" value="1" id="show_pending_added_tags" name="show_pending_added_tags" {% if PERMISSIONS.show_pending_added_tags %}checked="checked"{% endif %}>
		<label class="custom-control-label" for="show_pending_added_tags">{{'Show added pending tags to the user who add them'|trans}}</label>
		<span class="form-text text-muted">
		    {{'A css class is added to tag to show added pending tags differently to the user who add them'|trans}}
		</span>
	    </p>
	    <p class="custom-control custom-checkbox">
		<input class="custom-control-input" type="checkbox" value="1" id="show_pending_deleted_tags" name="show_pending_deleted_tags" {% if PERMISSIONS.show_pending_deleted_tags %}checked="checked"{% endif %}>
		<label class="custom-control-label" for="show_pending_deleted_tags">{{'Show deleted pending tags to the user who delete them'|trans}}</label>
		<span class="form-text text-muted">
		    {{'A css class is added to tag to show deleted pending tags differently to the user who delete them'|trans}}
		</span>
	    </p>
	</div>
	<p>
	    <input type="hidden" name="pwg_token" value="{{csrf_token}}">
	    <input class="btn btn-submit" type="submit" name="submit" value="{{'Submit'|trans}}">
	</p>
    </form>
{% endblock %}
