{% trans_default_domain 'admin' %}
{% extends "__layout.html.twig" %}

{% block breadcrumb_items %}
  <li class="breadcrumb-item">
    <a href="{{ path('admin_users') }}">{{'Users'|trans}}</a>
  </li>
  <li class="breadcrumb-item">{{'Add new user'|trans}}</li>
{% endblock %}

{% block content %}

  {{ form_start(form) }}
  <div class="fieldset">
    {% if add_user is defined %}
      <h3>{{'Add new user'|trans}}</h3>
    {% else %}
      <h3>{{'Edit user'|trans}}</h3>
    {% endif %}


    {% set form_buttons %}
    {{form_widget(form.validate)}}
    {{form_widget(form.cancel)}}
    {% if form.resetToDefault is defined %}
      {{form_widget(form.resetToDefault)}}
    {% endif %}
    {% endset %}
    {{form_widget(form)}}

    {{form_buttons}}
  </div>
  {{form_end(form)}}
{% endblock %}
